.col {
    max-width: 1rem;
    aspect-ratio: 1;
    border: 0.2px solid grey;
}

.row {
    justify-content: center;
}
/* .top{
    display: flex;
} */
.top {

    .bg-light {
        background-color: yellow;
    }

    .bg-dark {
        background-color: orange;
    }

    .color-1 {
        background-color: black;
    }

    .color-2 {
        background-color: white;
    }
}
.bottom {
    .row{
        flex-direction: row-reverse;
    }
    .bg-light {
        background-color: yellow;
    }

    .bg-dark {
        background-color: orange;
    }

    .color-1 {
        background-color: white;
    }

    .color-2 {
        background-color: black;
    }
}
